
:root {
    --primary: darkkhaki;
    --secondary: darkslategray;
    --gray: silver;
    --white: whitesmoke;
}

body {
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(to left, var(--gray), var(--white))
}

// ?LR-verbose as query param for debug
p {
    color: var(--secondary);
}