<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
    </style>
</head>

<body>

    <h1><%- (new Date()) %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptas maiores ipsa expedita consequatur cum? Molestias, praesentium. Atque ex minima debitis natus! Doloribus dolores in ipsam, quam saepe amet minus.</p>
    <p>Dolorem ducimus soluta incidunt totam aspernatur quibusdam delectus est quia unde eaque quasi ipsa eveniet tenetur sint ut placeat modi esse architecto veritatis dolores voluptatum, optio deserunt quae voluptatibus? Illo?</p>
    <p>Dignissimos blanditiis dolore quisquam maxime nam facere a, eius accusamus doloremque error ratione sed totam quaerat debitis molestias cupiditate dolorum officiis magnam molestiae eos. Possimus non dignissimos velit at pariatur.</p>
    <p>Quis eius similique vitae saepe. Soluta ullam voluptates quaerat, dolore impedit tenetur sequi aperiam expedita placeat labore, nostrum laborum, facere hic dolorum consequatur corrupti! Quidem vel sed mollitia nihil soluta.</p>
    <p>Similique ratione placeat aut iusto, voluptatibus atque quisquam architecto numquam expedita veniam repellendus accusantium. Vero quibusdam quo, debitis eum error ipsum, unde quas eveniet distinctio cumque enim alias dolores. Aliquid.</p>
    <p>Dignissimos non praesentium nobis earum nemo necessitatibus accusamus autem mollitia labore, eligendi quis officiis. Voluptas odio, beatae ea saepe enim doloribus perspiciatis quae dolorem ullam voluptate tempore perferendis nemo obcaecati.</p>
    <p>Dolores, aut. Pariatur corrupti beatae dolorem assumenda numquam obcaecati nemo eligendi nihil quos quia? Eum blanditiis, sed fugit, tempore voluptatibus explicabo libero optio laudantium ab, minus culpa veritatis natus laborum?</p>
    <p>Ducimus doloribus dolorum animi natus laudantium ullam minus, impedit, qui eveniet cupiditate vero sapiente rerum optio repellendus officia ratione eum ipsa exercitationem! Qui ad unde minus, adipisci a dolore mollitia?</p>
    <p>Nam vitae facere sunt repellendus veritatis debitis nobis deleniti amet similique enim. Deleniti assumenda sint tempora atque dolores, dicta necessitatibus asperiores eius dolor ut quo pariatur quibusdam incidunt? Cupiditate, sequi.</p>
    <p>Deserunt dolores quidem eius sint quis incidunt placeat ab, soluta impedit! Omnis voluptates sint distinctio doloribus necessitatibus? Deserunt sequi nisi sit laborum iusto voluptate maiores, cupiditate dolorum obcaecati odit accusamus?</p>
    <a href="next.html">Next page</a>

</body>

</html>